RewriteEngine On

# Si el archivo o directorio solicitado no existe físicamente, enviarlo al front controller
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
